# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\idea\workspace\bjtu_book_shop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
